.map-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.sidebarStyle {
  position: absolute;
  top: 0;
  left: 0;
  margin: 1%;
  height: 97%;
  background-color: #413249;
  border-radius: 10px;
  justify-content:center;
  align-items:center;
  color: #ffffff;
  z-index: 1 !important;
  padding: 20px 60px 6px 30px;
  font-weight: bold;
}

.title {
  line-height: 1.2em;
  color: #ffffff;
  font-weight: bold;
  font-size: 40px;
  margin-top: 10px;
}


.header {
  line-height: 1.2em;
  color: #ffffff;
  font-weight:400;
  font-size: 16px;
  margin-bottom: 50px;
}

.variable {
  line-height: 1.5em;
  height: 1.5em;
  color: #ffffff;
  font-weight:normal;
  font-size: 15px;
  margin-top: 12%;
  text-align: left;
  
}

.variableSection {
  padding-bottom: 50px;
}

.optionSection {
  padding-top: 10%;
  padding-bottom: 10%;
}

select{
  width: 140px;
  padding: 8px 20px;
  border-radius:5px;
  margin-left: 10px;
  float: right;
}

input {
  width: 140px;
  padding: 5px 20px;
  border-radius:5px;
  margin-left: 10px;
  float: right;
}

select:focus{
  outline:none;
}

.dropdown {
  /* display: inline-block; */
  position: relative;
}

.overlay {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.speedContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 50%;
}

.speedButtons {
  display: flex;
  flex-direction: row;
  margin-top: 7%;
}

.speedbutton {
  margin-right: 10px;
  font: 600 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  background-color: #251831;
  color: #fff;
  display: inline-block;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  border-radius: 3px;
}

.resetbutton {
  font: 600 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  background-color: #251831;
  color: #fff;
  display: inline-block;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 3px;
}

.overlay button.active,
.overlay button:focus {
  background-color: #7138a3;
}